.rager-info {
/*    border-bottom: solid 1px #888;
    padding-bottom: 2px;*/
    margin-right: .5em;
}

.rager-redesign {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(124, 124, 124);
    margin-left: .5em;
}
